# Ambiente Python
.venv/
__pycache__/
*.pyc

# Site gerado pelo MkDocs (não versionamos — o GitHub Actions reconstrói)
site/

# Notebooks Jupyter
.ipynb_checkpoints/

# Editores
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Arquivos pesados de bioinfo (versionar via Zenodo se precisar)
*.bam
*.bai
*.sam
*.fastq
*.fastq.gz
*.fq.gz

# Logs
*.log

# Outputs específicos do tutorial (cada aluno gera os seus)
arvore-ex1-*
*.treefile
*.iqtree
*.bionj
*.contree
*.ckp.gz
*.nex.bionj
*.uniqueseq.phy
*.best_scheme.nex
*.best_model.nex
concatenado.fasta
*.trim.ali.*
*.ali.*
partitions.nex
partitions-info.txt

id_ed25519*
id_rsa*
*.pem
